---
import '../../styles/global.css';
---

<div class="block slide-right blue">
  <div class="child red"></div>
  <div class="child black"></div>
  <div class="child black"></div>
  <div class="child black"></div>
  <div class="child black"></div>
  <div class="child black"></div>
  <div class="child red"></div>
  <div class="child black"></div>
  <div class="child red"></div>
</div>
