---
import '../../styles/global.css';
---

<div class="block grey-bottom">
  <div class="child red"></div>
  <div class="child black"></div>
  <div class="child red"></div>
  <div class="child black"></div>
  <div class="child red"></div>
  <div class="child black"></div>
  <div class="child red"></div>
  <div class="child black"></div>
</div>
