---
import '../../styles/global.css';
---

<div class="block slide-up purple ">
  <div class="child red slide-right "></div>
  <div class="child black "></div>
  <div class="child red "></div>
  <div class="child black "></div>
  <div class="child yellow "></div>
  <div class="child black "></div>
  <div class="child red "></div>
  <div class="child black "></div>
  <div class="child yellow "></div>
</div>
