body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .block {
    height: 200px;
    width: 200px;
    margin: 20px 0;
    opacity: 0;
    transition: transform 1s, opacity 1s;
  }
  
  .purple { background-color: #c8a2c8; display: flex; flex-wrap: wrap; }
  .grey { background-color: #c0c0c0; }
  .blue { background-color: #add8e6; display: flex; flex-wrap: wrap; }
  .light-purple { background-color: #d3cce3; }
  .grey-bottom { background-color: #c0c0c0; display: flex; flex-wrap: wrap; }
  
  .child {
    margin: 5px;
    width: 30px;
    height: 30px;
    opacity: 0;
    transition: transform 1s, opacity 1s;
  }
  
  .child.red { background-color: red; }
  .child.black { background-color: black; }
  .child.yellow { background-color: yellow; }
  
  .show {
    opacity: 1;
  }
  
  .slide-up {
    transform: translateY(50px);
  }
  
  .slide-up.show {
    transform: translateY(0);
  }
  
  .slide-right {
    transform: translateX(-50px);
  }
  
  .slide-right.show {
    transform: translateX(0);
  }
  
  .child.show {
    opacity: 1;
  }

  .slide-up-down{
    /* animation:  duration timing-function delay iteration-count direction fill-mode; */
    animation: slideUpDown 4s linear 100ms infinite normal forwards;
  }

  @keyframes slideUpDown {
    0%   {transform: translateY(-20px)}
    15%   {transform: translateY(-10px)}
    30%   {transform: translateY(0px)}
    45%   {transform: translateY(10px)}
    60%   {transform: translateY(20px)}
    70%   {transform: translateY(10px)}
    80%   {transform: translateY(0px)}
    90%   {transform: translateY(-10px)}
    100%   {transform: translateY(-20px)}
    /* 90%   {transform: translateY(-30px)}
    100%   {transform: translateY(-50px)} */
  }
  