---
import AnimationCard from "./AnimationCard.astro";


---

<div  class="main" style="background-color: white; display: flex; flex-wrap: wrap; gap:20px;">
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-up">
            <div style="background-color: blue; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-down">
            <div style="background-color: red; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-left">
            <div style="background-color: green; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-right">
            <div style="background-color: blueviolet; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "zoom-in">
            <div style="background-color: cadetblue; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "zoom-out">
            <div style="background-color: darkgray; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-up">
            <div style="background-color: blue; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-down">
            <div style="background-color: red; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-left">
            <div style="background-color: green; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-right">
            <div style="background-color: blueviolet; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "zoom-in">
            <div style="background-color: cadetblue; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "zoom-out">
            <div style="background-color: darkgray; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-up">
            <div style="background-color: blue; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-down">
            <div style="background-color: red; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-left">
            <div style="background-color: green; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-right">
            <div style="background-color: blueviolet; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "zoom-in">
            <div style="background-color: cadetblue; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "zoom-out">
            <div style="background-color: darkgray; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    
</div>

<div class="main" style="background-color: aquamarine; display: flex; flex-wrap: wrap; gap:20px;">
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-up">
            <div style="background-color: blue; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-down">
            <div style="background-color: red; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-left">
            <div style="background-color: green; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-right">
            <div style="background-color: blueviolet; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "zoom-in">
            <div style="background-color: cadetblue; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "zoom-out">
            <div style="background-color: darkgray; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-up">
            <div style="background-color: blue; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-down">
            <div style="background-color: red; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-left">
            <div style="background-color: green; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-right">
            <div style="background-color: blueviolet; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "zoom-in">
            <div style="background-color: cadetblue; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "zoom-out">
            <div style="background-color: darkgray; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-up">
            <div style="background-color: blue; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-down">
            <div style="background-color: red; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-left">
            <div style="background-color: green; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-right">
            <div style="background-color: blueviolet; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "zoom-in">
            <div style="background-color: cadetblue; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "zoom-out">
            <div style="background-color: darkgray; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    
</div>

<div class="main" style="background-color: white; display: flex; flex-wrap: wrap; gap:20px;">
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-up">
            <div style="background-color: blue; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-down">
            <div style="background-color: red; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-left">
            <div style="background-color: green; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-right">
            <div style="background-color: blueviolet; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "zoom-in">
            <div style="background-color: cadetblue; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "zoom-out">
            <div style="background-color: darkgray; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-up">
            <div style="background-color: blue; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-down">
            <div style="background-color: red; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-left">
            <div style="background-color: green; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-right">
            <div style="background-color: blueviolet; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "zoom-in">
            <div style="background-color: cadetblue; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "zoom-out">
            <div style="background-color: darkgray; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-up">
            <div style="background-color: blue; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-down">
            <div style="background-color: red; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-left">
            <div style="background-color: green; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-right">
            <div style="background-color: blueviolet; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "zoom-in">
            <div style="background-color: cadetblue; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "zoom-out">
            <div style="background-color: darkgray; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    
</div>

<div class="main" style="background-color: aquamarine; display: flex; flex-wrap: wrap; gap:20px;">
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-up">
            <div style="background-color: blue; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-down">
            <div style="background-color: red; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-left">
            <div style="background-color: green; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-right">
            <div style="background-color: blueviolet; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "zoom-in">
            <div style="background-color: cadetblue; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "zoom-out">
            <div style="background-color: darkgray; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-up">
            <div style="background-color: blue; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-down">
            <div style="background-color: red; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-left">
            <div style="background-color: green; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-right">
            <div style="background-color: blueviolet; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "zoom-in">
            <div style="background-color: cadetblue; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "zoom-out">
            <div style="background-color: darkgray; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-up">
            <div style="background-color: blue; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-down">
            <div style="background-color: red; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-left">
            <div style="background-color: green; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-right">
            <div style="background-color: blueviolet; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "zoom-in">
            <div style="background-color: cadetblue; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "zoom-out">
            <div style="background-color: darkgray; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    
</div>

<div class="main" style="background-color: white; display: flex; flex-wrap: wrap; gap:20px;">
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-up">
            <div style="background-color: blue; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-down">
            <div style="background-color: red; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-left">
            <div style="background-color: green; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-right">
            <div style="background-color: blueviolet; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "zoom-in">
            <div style="background-color: cadetblue; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "zoom-out">
            <div style="background-color: darkgray; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-up">
            <div style="background-color: blue; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-down">
            <div style="background-color: red; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-left">
            <div style="background-color: green; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-right">
            <div style="background-color: blueviolet; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "zoom-in">
            <div style="background-color: cadetblue; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "zoom-out">
            <div style="background-color: darkgray; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-up">
            <div style="background-color: blue; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-down">
            <div style="background-color: red; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-left">
            <div style="background-color: green; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-right">
            <div style="background-color: blueviolet; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "zoom-in">
            <div style="background-color: cadetblue; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "zoom-out">
            <div style="background-color: darkgray; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    
</div>

<div class="main" style="background-color: aquamarine; display: flex; flex-wrap: wrap; gap:20px;">
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-up">
            <div style="background-color: blue; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-down">
            <div style="background-color: red; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-left">
            <div style="background-color: green; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-right">
            <div style="background-color: blueviolet; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "zoom-in">
            <div style="background-color: cadetblue; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "zoom-out">
            <div style="background-color: darkgray; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-up">
            <div style="background-color: blue; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-down">
            <div style="background-color: red; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-left">
            <div style="background-color: green; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-right">
            <div style="background-color: blueviolet; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "zoom-in">
            <div style="background-color: cadetblue; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "zoom-out">
            <div style="background-color: darkgray; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-up">
            <div style="background-color: blue; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-down">
            <div style="background-color: red; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-left">
            <div style="background-color: green; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-right">
            <div style="background-color: blueviolet; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "zoom-in">
            <div style="background-color: cadetblue; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "zoom-out">
            <div style="background-color: darkgray; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    
</div>

<div class="main" style="background-color: white; display: flex; flex-wrap: wrap; gap:20px;">
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-up">
            <div style="background-color: blue; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-down">
            <div style="background-color: red; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-left">
            <div style="background-color: green; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-right">
            <div style="background-color: blueviolet; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "zoom-in">
            <div style="background-color: cadetblue; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "zoom-out">
            <div style="background-color: darkgray; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-up">
            <div style="background-color: blue; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-down">
            <div style="background-color: red; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-left">
            <div style="background-color: green; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-right">
            <div style="background-color: blueviolet; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "zoom-in">
            <div style="background-color: cadetblue; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "zoom-out">
            <div style="background-color: darkgray; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-up">
            <div style="background-color: blue; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-down">
            <div style="background-color: red; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-left">
            <div style="background-color: green; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-right">
            <div style="background-color: blueviolet; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "zoom-in">
            <div style="background-color: cadetblue; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "zoom-out">
            <div style="background-color: darkgray; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    
</div>

<div class="main" style="background-color: aquamarine; display: flex; flex-wrap: wrap; gap:20px;">
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-up">
            <div style="background-color: blue; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-down">
            <div style="background-color: red; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-left">
            <div style="background-color: green; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-right">
            <div style="background-color: blueviolet; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "zoom-in">
            <div style="background-color: cadetblue; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "zoom-out">
            <div style="background-color: darkgray; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-up">
            <div style="background-color: blue; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-down">
            <div style="background-color: red; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-left">
            <div style="background-color: green; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-right">
            <div style="background-color: blueviolet; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "zoom-in">
            <div style="background-color: cadetblue; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "zoom-out">
            <div style="background-color: darkgray; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-up">
            <div style="background-color: blue; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-down">
            <div style="background-color: red; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-left">
            <div style="background-color: green; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-right">
            <div style="background-color: blueviolet; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "zoom-in">
            <div style="background-color: cadetblue; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "zoom-out">
            <div style="background-color: darkgray; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    
</div>

<div class="main" style="background-color: white; display: flex; flex-wrap: wrap; gap:20px;">
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-up">
            <div style="background-color: blue; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-down">
            <div style="background-color: red; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-left">
            <div style="background-color: green; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-right">
            <div style="background-color: blueviolet; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "zoom-in">
            <div style="background-color: cadetblue; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "zoom-out">
            <div style="background-color: darkgray; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-up">
            <div style="background-color: blue; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-down">
            <div style="background-color: red; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-left">
            <div style="background-color: green; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-right">
            <div style="background-color: blueviolet; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "zoom-in">
            <div style="background-color: cadetblue; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "zoom-out">
            <div style="background-color: darkgray; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-up">
            <div style="background-color: blue; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-down">
            <div style="background-color: red; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-left">
            <div style="background-color: green; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-right">
            <div style="background-color: blueviolet; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "zoom-in">
            <div style="background-color: cadetblue; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "zoom-out">
            <div style="background-color: darkgray; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    
</div>

<div class="main" style="background-color: aquamarine; display: flex; flex-wrap: wrap; gap:20px;">
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-up">
            <div style="background-color: blue; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-down">
            <div style="background-color: red; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-left">
            <div style="background-color: green; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-right">
            <div style="background-color: blueviolet; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "zoom-in">
            <div style="background-color: cadetblue; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "zoom-out">
            <div style="background-color: darkgray; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-up">
            <div style="background-color: blue; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-down">
            <div style="background-color: red; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-left">
            <div style="background-color: green; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-right">
            <div style="background-color: blueviolet; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "zoom-in">
            <div style="background-color: cadetblue; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "zoom-out">
            <div style="background-color: darkgray; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-up">
            <div style="background-color: blue; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-down">
            <div style="background-color: red; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-left">
            <div style="background-color: green; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-right">
            <div style="background-color: blueviolet; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "zoom-in">
            <div style="background-color: cadetblue; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "zoom-out">
            <div style="background-color: darkgray; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    
</div>

<div class="main" style="background-color: white; display: flex; flex-wrap: wrap; gap:20px;">
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-up">
            <div style="background-color: blue; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-down">
            <div style="background-color: red; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-left">
            <div style="background-color: green; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-right">
            <div style="background-color: blueviolet; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "zoom-in">
            <div style="background-color: cadetblue; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "zoom-out">
            <div style="background-color: darkgray; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-up">
            <div style="background-color: blue; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-down">
            <div style="background-color: red; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-left">
            <div style="background-color: green; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-right">
            <div style="background-color: blueviolet; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "zoom-in">
            <div style="background-color: cadetblue; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "zoom-out">
            <div style="background-color: darkgray; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-up">
            <div style="background-color: blue; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-down">
            <div style="background-color: red; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-left">
            <div style="background-color: green; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-right">
            <div style="background-color: blueviolet; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "zoom-in">
            <div style="background-color: cadetblue; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "zoom-out">
            <div style="background-color: darkgray; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    
</div>

<div class="main" style="background-color: aquamarine; display: flex; flex-wrap: wrap; gap:20px;">
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-up">
            <div style="background-color: blue; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-down">
            <div style="background-color: red; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-left">
            <div style="background-color: green; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-right">
            <div style="background-color: blueviolet; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "zoom-in">
            <div style="background-color: cadetblue; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "zoom-out">
            <div style="background-color: darkgray; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-up">
            <div style="background-color: blue; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-down">
            <div style="background-color: red; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-left">
            <div style="background-color: green; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-right">
            <div style="background-color: blueviolet; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "zoom-in">
            <div style="background-color: cadetblue; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "zoom-out">
            <div style="background-color: darkgray; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-up">
            <div style="background-color: blue; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-down">
            <div style="background-color: red; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-left">
            <div style="background-color: green; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "slide-right">
            <div style="background-color: blueviolet; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "zoom-in">
            <div style="background-color: cadetblue; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    <div class="min-parent" style="height: 100px; width: 100px;">
        <AnimationCard animationName = "zoom-out">
            <div style="background-color: darkgray; width:100%; height:100%;"></div>
        </AnimationCard>
    </div>
    
</div>