<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Swipe Up Animation</title>
  <link rel="stylesheet" href="../styles/global.css">
</head>
<body>
  <slot></slot>
  <script src="/src/scripts/scroll.js"></script>
</body>
</html>
